#header-main{
    background: url(../../../images/bg-images/header-bg.png) no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
#header-logo img{
    width: 100px;
}
.nav-menu .nav-item{
    display: block;
    color: #000;
    padding: 8px 20px;
}
.header-info h3{
    font-weight: bold;
    font-size: 38px;
    word-spacing: 6px;
    letter-spacing: 1px;
}
.header-sidebar-img img{
    width: 100%;
}  

.brand-logo{
    padding: 10px;
}
.service-img img{
    width: 70px;
    border-radius: 50%;
}
.service-card{
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 0 5px #d8d8d8;
    transition: all 0.5s;
}
.service-card:hover{
    box-shadow: 0 0 8px #8b8b8b;
}
.service-info h3{
    font-size: 20px;
    font-weight: bold;
}

.rec-dot{
    background-color: #fff!important;
    border-radius: 50%!important;
    color: #fff;
}
.rec-dot_active{
    border-radius: 50%!important;
    background-color: #0fd830!important;
    border: none!important;
    box-shadow: none!important;
}
.Review-card{
    box-shadow: 0px 0px 2px gray;
    transition: all 0.5s;
}
.Review-card:hover{
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
}
.review-img img{
    width: 70px;
    border-radius: 50%;
}
.review-title-text h4{
    font-weight: bold;
    font-size: 17px;
}
.review-title-text p{
    font-weight: bold;
    font-size: 14px;
}
#Review{
    margin-bottom: 100px;
}
#footer{
    background-color: #FBD062;
}
.footer-title h2{
    font-size: 36px;
    font-weight: bold;
}
