
@media screen and (max-width: 991px) {
    .header-sidebar-img{
        padding: 0 3rem 3rem 3rem!important;
    }
    .header-info{
        padding: 3rem 3rem 1rem 3rem!important;
    }
 
}
@media screen and (max-width: 770px) {
    .header-info h3{
        font-size: 30px;
        word-spacing: 0px;
    }
    .header-Background h1{
        font-size: 30px;
    }
    .header-Background input{
        width: 200px;
        padding: 6px;
        border-radius:5px;
    }
    .header-Background button{
        padding: 6px;
        width: 120px;
    }
}
@media screen and (max-width: 570px) {
    .header-info h3{
        font-size: 24px;
    }
    .header-info p{
        font-size: 17px;
        text-align: left!important;
    }
    .lfxjKM{
        height: 200px!important;
    }
    .footer-title h2{
        font-size: 24px;
    }
    .footer-title p{
        font-size: 16px;
    }
    ::placeholder{
        font-size: 18px;
    }
}
@media screen and (max-width: 517px) {
    .header-Background h1{
        font-size: 20px;
    }
    .header-Background input{
       width: 90%;
        padding: 5px;
        border-radius:5px;
        border-radius: 10px;
    }
    // .header-Background button{
    //     padding: 5px;
    //     width: 80px;
    //     font-size: 15px;
    //     margin-left: 0px;
    //     border-radius: 0px 10px 10px 0px;
    // }
    .review h1{
        font-size:20px;
        font-weight:900;
    }
    .main-text{
        font-size:25px;
        font-weight:900;
    }
}
@media screen and (max-width: 470px) {
    .header-info h3{
        font-size: 20px;
    }
    .header-info p{
        font-size: 14px;
    }

    /* Services compo*/
    .services-title h3{
        font-size: 24px;
    }
    .service-img img{
        width: 60px;
    }
    .service-info h3{
        font-size: 18px;
    }
    .service-info p{
        font-size: 14px;
    }
    #carousel-part h3{
        font-size: 18px;
        margin: 0px!important;
    }
    /* Carousel Button */
    .sc-bdnylx{
        font-size: 16px!important;
    }
    #carousel-part{
        padding: 0px!important;
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }
    .lfxjKM{
        height: 170px!important;
    }
    .footer-title h2{
        font-size: 20px;
    }
    .footer-title p{
        font-size: 15px;
    }
    .footer-submit{
        width: 100%!important;
        display: block;
    }
    ::placeholder{
        font-size: 14px;
    }
    .details-title-sec h3{
        font-size: 15px!important;
    }
}
@media screen and (max-width: 400px) {
    /* Services compo*/
    .services-title h3{
        font-size: 20px;
    }
    
}
@media screen and (max-width: 340px) {
    .review h1{
        font-size:15px;
        font-weight:900;
    }
    .main-text{
        font-size:20px;
        font-weight:900;
    }
}