.card-Style{
    border: none;
}
.price{
    color: #265952;
    font-size:30px;
    font-weight: 800;
}
.card-btn{
    background-color: #275A53;
    border-radius: 1px;
}
.service-content p{
    margin-top: 0;
}   
.service-location p{
    margin-bottom: 5px;
}