label{
    margin-bottom: 0;
}
.form-label-title{
    font-weight: bold;
    font-size: 14px;
}
input{
    margin: 0 0 10px 0;
}
#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
}
.file-input{
    position: absolute;
    opacity: 0;
}