#carousel-part{
    margin-top: 70px;
    padding: 50px;
    border-radius: 10px;
    background-color: #111430;
    color: #fff;
}
.card-color{
    color: #275A53;
    font-weight: bold;
}
.inputStyle{
    width: '100%';
    padding: '20px';
    border: 'none';
    color: #fff;
    border-bottom: '5px solid #2D86EF';
    border-radius: '20px 0px 0px 0px';
    margin-bottom: 10%;
}
.batStyle{
    border-radius: '0px 20px 0px 0px';
    padding: '12px';
}