.details-title-sec h3{
    color: #275A53;
    font-weight: bold;
    font-size: 24px;
}
.project-title-sec h4{
    color: #275A53;
    font-weight: bold;
    font-size: 18px;
}
.project-title-sec li{
    list-style-type: none;
}