.login-btn{
  background-color: #275A53;
  color: #fff!important;
  padding: 8px 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #bbbbbb;
  display: inline-block;
  width: 100%;
  border: none;
  transition: all 0.5s;
}
.disabled-btn {
  background-color: #275A53;
  color: #fff!important;
  padding: 8px 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px #bbbbbb;
  display: inline-block;
  width: 100%;
  border: none;
  transition: all 0.5s;
}
.success-btn{
  background-color: #16af16;
  color: #fff!important;
  padding: 8px 25px;
  border-radius: 2px;
  box-shadow: 0 0 5px #bbbbbb;
  display: inline-block;
  width: 100%;
  border: none;
  transition: all 0.5s;
}
img{
  width: 100%;
}
.logout-btn{
  background-color: #20213b!important;
  color: #fff!important;
}
.dash-title{
  font-weight: bold;
  font-size: 24px;
}
.border-red-bottom{
  border-bottom: 1px solid #e93a3a;
}
.cursor-pointer{
  cursor: pointer;
}
.color_000{
  color: #000000;
  font-weight: bold;
  font-size: 12px!important;
}
.color_ggg p{
  color: #275A53;
  font-weight: bold;
  font-size: 12px!important;
  border-bottom: 1px solid #275A53;
}
.create-account{
  color: #275A53;
}
.errorSuccess{
  color: #10a110;
}
.errorWarning{

}
.responsive-mobile-btn{
  background-color:#275A53!important;
}